<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopmentParameters</key>
	<dict>
		<key>Adjuster</key>
		<dict>
			<key>ApConGain</key>
			<integer>0</integer>
			<key>BlackLevel</key>
			<integer>0</integer>
			<key>Clarity</key>
			<integer>5</integer>
			<key>ColorAberrationCorrection</key>
			<integer>1</integer>
			<key>ColorModeByNum</key>
			<integer>20</integer>
			<key>ColorRendering</key>
			<integer>-5</integer>
			<key>ColorTemperature</key>
			<integer>5200</integer>
			<key>Contrast</key>
			<integer>0</integer>
			<key>DROAnkle</key>
			<integer>70</integer>
			<key>DROShadowDetail</key>
			<integer>50</integer>
			<key>DROShoulder</key>
			<integer>50</integer>
			<key>DistortionCorrection</key>
			<integer>1</integer>
			<key>EffectMode</key>
			<integer>2</integer>
			<key>Exposure</key>
			<integer>50</integer>
			<key>Fade</key>
			<integer>0</integer>
			<key>Fineness</key>
			<integer>50</integer>
			<key>FlagHueTurnBlock</key>
			<integer>0</integer>
			<key>GrayPointUseBR</key>
			<integer>0</integer>
			<key>GrayPointWbB</key>
			<integer>0</integer>
			<key>GrayPointWbR</key>
			<integer>0</integer>
			<key>GrayPointX0</key>
			<integer>0</integer>
			<key>GrayPointX1</key>
			<integer>0</integer>
			<key>GrayPointY0</key>
			<integer>0</integer>
			<key>GrayPointY1</key>
			<integer>0</integer>
			<key>HighlightLevel</key>
			<integer>0</integer>
			<key>Hue</key>
			<integer>0</integer>
			<key>OverShoot</key>
			<integer>0</integer>
			<key>Saturation</key>
			<integer>10</integer>
			<key>ShadowLevel</key>
			<integer>0</integer>
			<key>TemperatureAdjust</key>
			<integer>0</integer>
			<key>Threshold</key>
			<integer>0</integer>
			<key>ToneCurveVersion</key>
			<integer>65536</integer>
			<key>UnderShoot</key>
			<integer>0</integer>
			<key>WhiteBalanceMode</key>
			<integer>2</integer>
			<key>WhiteLevel</key>
			<integer>0</integer>
			<key>enableDRO</key>
			<integer>2</integer>
			<key>enableNR</key>
			<integer>1</integer>
			<key>nrChroma</key>
			<integer>0</integer>
			<key>nrEdge</key>
			<integer>0</integer>
			<key>nrGain</key>
			<integer>0</integer>
		</dict>
		<key>CreativeLook</key>
		<integer>1</integer>
		<key>CustomParameters</key>
		<dict>
			<key>NrOption</key>
			<integer>1</integer>
		</dict>
		<key>Name</key>
		<string></string>
		<key>PeripheralIllumination</key>
		<dict>
			<key>CentralRadius</key>
			<integer>80</integer>
			<key>CentralStrength</key>
			<integer>0</integer>
			<key>PeripheralStrength</key>
			<integer>0</integer>
		</dict>
		<key>ToneCurve_B</key>
		<dict>
			<key>ToneCurve</key>
			<dict>
				<key>ControlPoint0</key>
				<dict>
					<key>X</key>
					<real>0.0</real>
					<key>Y</key>
					<real>0.0</real>
				</dict>
				<key>ControlPoint1</key>
				<dict>
					<key>X</key>
					<real>1</real>
					<key>Y</key>
					<real>1</real>
				</dict>
				<key>ControlPointCount</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>ToneCurve_G</key>
		<dict>
			<key>ToneCurve</key>
			<dict>
				<key>ControlPoint0</key>
				<dict>
					<key>X</key>
					<real>0.0</real>
					<key>Y</key>
					<real>0.0</real>
				</dict>
				<key>ControlPoint1</key>
				<dict>
					<key>X</key>
					<real>0.5</real>
					<key>Y</key>
					<real>0.52000000000000002</real>
				</dict>
				<key>ControlPoint2</key>
				<dict>
					<key>X</key>
					<real>1</real>
					<key>Y</key>
					<real>1</real>
				</dict>
				<key>ControlPointCount</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>ToneCurve_R</key>
		<dict>
			<key>ToneCurve</key>
			<dict>
				<key>ControlPoint0</key>
				<dict>
					<key>X</key>
					<real>0.0</real>
					<key>Y</key>
					<real>0.0</real>
				</dict>
				<key>ControlPoint1</key>
				<dict>
					<key>X</key>
					<real>1</real>
					<key>Y</key>
					<real>1</real>
				</dict>
				<key>ControlPointCount</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>ToneCurve_Y</key>
		<dict>
			<key>ToneCurve</key>
			<dict>
				<key>ControlPoint0</key>
				<dict>
					<key>X</key>
					<real>0.0</real>
					<key>Y</key>
					<real>0.040000000000000001</real>
				</dict>
				<key>ControlPoint1</key>
				<dict>
					<key>X</key>
					<real>0.5</real>
					<key>Y</key>
					<real>0.52000000000000002</real>
				</dict>
				<key>ControlPoint2</key>
				<dict>
					<key>X</key>
					<real>1</real>
					<key>Y</key>
					<real>1</real>
				</dict>
				<key>ControlPointCount</key>
				<integer>3</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
